.box-layout {
  background: url('https://storage.googleapis.com/russellmschmidt-net-portfolio/expensify/oddcolors_8527815119_o.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-layout__box {
  background: fade-out(white, 0.30);
  border-radius: 50%;
  text-align: center;
  width: 25rem;
  height: 25rem;
  padding: $l-size;
}

.box-layout__title {
  margin: $l-size 0;
  line-height: 1;
}

