// Colors
$dark-grey: #303030;
$shadow-grey: #151515;
$deep-blue: #0033ee;
$dark-blue: #0099ee;
$danger-red: #ee3344;
$off-white: #f7f7f7;
$grey: #666;
 
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// font sizes
$font-size-xl: 2.0rem;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;